In [2]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import scipy.stats

In [44]:
dataset4 = pd.read_csv('E:/nyc-parking-tickets/cor14.csv', delimiter=",", quotechar = '\"')

In [3]:
dataset5 = pd.read_csv('E:/nyc-parking-tickets/cor15.csv', delimiter=",", quotechar = '\"')

In [5]:
dataset6 = pd.read_csv('E:/nyc-parking-tickets/cor16.csv', delimiter=",", quotechar = '\"')

In [7]:
dataset7 = pd.read_csv('E:/nyc-parking-tickets/cor17.csv', delimiter=",", quotechar = '\"')

In [8]:
dataset7['Vehicle.Year']

0       2005
1       2016
2       2003
3       2016
4          0
5       2007
6          0
7          0
8       2015
9          0
10      2016
11         0
12      2016
13      2010
14      2014
15      2014
16      2015
17      1992
18      2003
19      2016
20      2002
21      2008
22      2004
23      2011
24      2017
25         0
26      2014
27      2016
28         0
29      2010
        ...
9970    2014
9971    2012
9972    2007
9973    2013
9974    2016
9975    2010
9976    2015
9977    2014
9978    2016
9979    2016
9980    2006
9981    2017
9982    2016
9983    2008
9984    2014
9985    2002
9986    2016
9987    2007
9988       0
9989    2015
9990    2005
9991    1998
9992    2014
9993    2011
9994    2010
9995    2006
9996    2014
9997    2015
9998    2013
9999    2007
Name: Vehicle.Year, Length: 10000, dtype: int64

In [45]:
dataset4['Violation.Time'].replace(r'[0-9]{4}.', dataset4['Violation.Time'] + 'M', regex = True, inplace = True)

In [46]:
temp = dataset4['Vehicle.Year'].astype(int)

In [47]:
dataset4['Vehicle.Year'] = temp

In [48]:
temp1 = pd.to_datetime(dataset4['Violation.Time'], format = '%I%M%p', errors = 'coerce')

In [49]:
dataset4['Violation.Time'] = temp1

In [50]:
temp2 = pd.to_datetime(dataset4['Vehicle.Year'], format = '%Y', errors = 'coerce')

In [51]:
dataset4['Vehicle.Year'] = temp2

In [52]:
dataset4 = dataset4.dropna(how = 'any')

In [53]:
keepcol = ['Violation.Time', 'Vehicle.Year']

In [54]:
dataset4 = dataset4[keepcol]

In [71]:
da4 = dataset4.sample(n = 7200)

In [74]:
da6 = dataset6.sample(n = 7200)

In [77]:
daall = pd.concat([da4, da5, da6, da7])

In [56]:
#dataset4 done

In [42]:
#dataset7 done

In [32]:
#dataset6 done

In [20]:
#dataset5 done

In [78]:
daall

          Violation.Time Vehicle.Year
4730 1900-01-01 01:27:00   2012-01-01
8465 1900-01-01 12:55:00   2004-01-01
9882 1900-01-01 05:53:00   2010-01-01
6016 1900-01-01 08:14:00   1988-01-01
1022 1900-01-01 17:15:00   2006-01-01
8053 1900-01-01 14:22:00   2003-01-01
7179 1900-01-01 12:57:00   2004-01-01
1695 1900-01-01 11:20:00   2007-01-01
9168 1900-01-01 09:16:00   2014-01-01
3437 1900-01-01 16:52:00   2011-01-01
7506 1900-01-01 09:25:00   2001-01-01
3647 1900-01-01 13:37:00   2003-01-01
479  1900-01-01 12:49:00   2012-01-01
1655 1900-01-01 07:50:00   2004-01-01
7519 1900-01-01 12:30:00   2010-01-01
7969 1900-01-01 15:22:00   2006-01-01
5947 1900-01-01 14:48:00   2011-01-01
8120 1900-01-01 08:09:00   2005-01-01
2239 1900-01-01 22:40:00   1996-01-01
6765 1900-01-01 12:16:00   2009-01-01
9012 1900-01-01 15:58:00   2005-01-01
3803 1900-01-01 15:30:00   2001-01-01
236  1900-01-01 14:42:00   2009-01-01
2563 1900-01-01 06:11:00   2007-01-01
6723 1900-01-01 11:35:00   2010-01-01
8706 1900-01-01 11:21:00   2014-01-01
2391 1900-01-01 09:15:00   2005-01-01
5591 1900-01-01 11:02:00   2002-01-01
2691 1900-01-01 15:02:00   2011-01-01
4272 1900-01-01 10:45:00   2014-01-01
...                  ...          ...
3395 1900-01-01 13:36:00   2004-01-01
7638 1900-01-01 08:08:00   2016-01-01
8136 1900-01-01 07:28:00   2016-01-01
841  1900-01-01 08:30:00   2012-01-01
608  1900-01-01 14:13:00   2006-01-01
7809 1900-01-01 09:05:00   2013-01-01
8981 1900-01-01 03:10:00   2016-01-01
3867 1900-01-01 14:46:00   2017-01-01
537  1900-01-01 11:28:00   2002-01-01
729  1900-01-01 10:23:00   2013-01-01
6649 1900-01-01 11:58:00   2008-01-01
8374 1900-01-01 12:04:00   2015-01-01
8992 1900-01-01 06:10:00   2003-01-01
6121 1900-01-01 10:27:00   2013-01-01
2911 1900-01-01 07:27:00   2010-01-01
5502 1900-01-01 09:55:00   2014-01-01
219  1900-01-01 09:55:00   2014-01-01
2865 1900-01-01 12:18:00   2015-01-01
4848 1900-01-01 15:47:00   2004-01-01
2664 1900-01-01 14:30:00   2010-01-01
662  1900-01-01 13:39:00   2006-01-01
6702 1900-01-01 08:46:00   2011-01-01
3022 1900-01-01 20:21:00   2015-01-01
1462 1900-01-01 15:23:00   2016-01-01
4710 1900-01-01 10:49:00   2015-01-01
5508 1900-01-01 11:14:00   2016-01-01
560  1900-01-01 15:51:00   2001-01-01
3793 1900-01-01 15:44:00   2016-01-01
8746 1900-01-01 08:18:00   2015-01-01
7830 1900-01-01 10:22:00   2012-01-01

[28800 rows x 2 columns]

In [53]:
#dacol sample 7000 ##########to do, convert to seconds, correlation

In [79]:
te1 = (daall['Violation.Time'] - daall['Violation.Time'].min()).dt.total_seconds()

In [80]:
te2 = (daall['Vehicle.Year'] - daall['Vehicle.Year'].min()).dt.total_seconds()

In [81]:
newtest = pd.concat([te1, te2], axis=1)

use Pandas to calculate the pearson correlation

In [82]:
newtest.corr(method = 'pearson')

                Violation.Time  Vehicle.Year
Violation.Time        1.000000      0.014914
Vehicle.Year          0.014914      1.000000

use scipy to calculate the pearson correlation

In [83]:
scipy.stats.pearsonr(newtest['Violation.Time'], newtest['Vehicle.Year'])

(0.014913519157286035, 0.011375762590271394)

##test for converting to seconds and correlation

In [21]:
test = dacol[:100]

In [26]:
test['Violation.Time'] - test['Violation.Time'].min()

0     10:06:00
1     12:11:00
2     08:04:00
3     15:22:00
5     09:24:00
7     08:26:00
9     14:37:00
11    14:25:00
12    13:29:00
13    00:00:00
14    16:03:00
15    09:23:00
16    13:14:00
18    12:35:00
19    08:38:00
21    10:30:00
22    10:42:00
23    08:04:00
24    08:36:00
25    07:46:00
26    11:10:00
29    07:11:00
31    12:28:00
32    11:05:00
33    11:29:00
34    09:25:00
35    09:57:00
36    07:31:00
38    09:51:00
39    08:17:00
        ...
90    00:56:00
91    15:47:00
92    00:05:00
95    05:30:00
97    10:09:00
99    08:50:00
100   12:20:00
102   09:11:00
104   12:41:00
105   08:31:00
106   13:40:00
107   10:50:00
108   10:04:00
109   09:54:00
110   04:24:00
111   13:27:00
112   06:50:00
113   12:18:00
114   13:12:00
115   08:10:00
116   08:26:00
117   14:56:00
118   07:24:00
119   05:35:00
122   13:41:00
124   12:12:00
125   08:18:00
126   06:10:00
128   00:15:00
129   10:34:00
Name: Violation.Time, Length: 100, dtype: timedelta64[ns]

In [28]:
te1 = (test['Violation.Time'] - test['Violation.Time'].min()).dt.total_seconds()

In [30]:
te2 = (test['Vehicle.Year'] - test['Vehicle.Year'].min()).dt.total_seconds()

In [48]:
newtest = pd.concat([te1, te2], axis=1)

In [52]:
newtest.corr(method = 'pearson')

                Violation.Time  Vehicle.Year
Violation.Time        1.000000      0.030388
Vehicle.Year          0.030388      1.000000

In [50]:
#newtest

##end of test